@import "typography";
@import "colors";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: $ff-primary;
  background-color: $color-bg;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 530px;
  width: 706px;

  & .product-image {
    height: 100%;

    & img {
      object-fit: cover;
      max-height: 100%;
      width: auto;
      height: auto;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }

  .product-info {
    padding: 1.875rem;
    background-color: $color-white;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    & span {
      color: $color-text;
    }

    & h1 {
      margin-top: 1.25rem;
      font-size: $fs-h;
      font-family: $ff-secondary;
      font-weight: $fw-bold;
      padding-right: 5px;
    }

    & .text {
      margin: 1.5rem 0;
      font-size: $fs-p;
      line-height: $lh-p;
      color: $color-text;
      font-weight: $fw-normal;
      padding-right: 0.9375rem;
    }

    & .product-price {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 20px;

      & p {
        font-size: $fs-h;
        font-family: $ff-secondary;
        color: $color-primary;
        font-weight: $fw-bold;
      }

      & span {
        text-decoration: line-through;
      }
    }
  }

  & button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 1.625rem;
    height: 58px;
    width: 100%;
    text-align: center;
    background-color: $color-primary;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    color: $color-white;
    font-size: 0.9375rem;
    font-weight: $fw-bold;

    &:hover {
      background-color: $color-hover;
    }
  }
}

@media (max-width: 690px) {
  body {
    height: 100%;
  }

  .wrapper {
    width: 80%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    & .product-image {
      width: 100%;

      & img {
        width: 100%;
        border-radius: 0;
      }
    }

    & .product-info {
      border-radius: 0;
    }
  }
}

@media (max-width: 440px) {
  .wrapper {
    height: 100%;

    & .product-info {
      padding: 0;
      text-align: center;
      margin-top: -5px;

      & .product-price {
        justify-content: center;
      }
    }

    & button {
      border-radius: 0;
    }
  }
}
