// Font sizes

$fs-p: 1rem;
$fs-h: 2.375rem;

// Line heights

$lh-p: 1.7;

// Font weights

$fw-normal: 500;
$fw-bold: 700;

// Font families

$ff-primary: "Montserrat", sans-serif;
$ff-secondary: "Fraunces", serif;
